<%- include('partials/header') %>


<div class="container mt-5">
  <!-- Title for the page -->
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1 class="display-3">Blogit</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <p class="card-text">Join thousands in the community and start blogging today.</p>
          <div class="d-flex justify-content-center">
            <a href="/register" class="btn btn-primary">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <p class="card-text">Already a member? Login to access your blogs and start writing.</p>
          <div class="d-flex justify-content-center">
            <a href="/login" class="btn btn-dark">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
