
body {
  background: linear-gradient(to right, #74ebd5, #acb6e5); 
  min-height: 100vh; 
  margin: 0; 
}
  
  .centered {
      padding-top: 200px;
      text-align: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
  }
  
  .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
    margin-top: 5px;
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
  }

  .welcome-message
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  